p {
  text-align: center;
  /* font-family: 'Krona One', sans-serif; */
  font-family: 'Expletus Sans', cursive;
}
.profile-info {
  font-size: 1.3em;
  font-weight: bold;
}
.profile-label {
  color:#999999;
}
.logout-btn {
    float: right;
}
.profile-pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: contain;
}
.fa-pencil {
    color: gray;
}
