.post-label {
  font-family: 'Krona One', sans-serif;
  color:#999999;
  display: block;
  font-size: 0.8em;
}
.btn {
  width: 12%;
}
#id_title_original {
  width: 100%;
}
textarea {
  width: 90%;
}
#id_body_original {
  border-radius: 2px;
}
.author-name {
  font-family: 'Expletus Sans', cursive;
  font-size: 1.2em;
}
/* .postarea {
  display: block;
} */
.col-md-3 {
}
.profile {
  height: 100px;
  display: block;
  width: 50%;
  text-align: center;
  border-radius: 2px;
}
.profile-pic {
    object-fit: contain;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
