{% extends 'system_app/base.html' %}
{% block base_body_block %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'blogs_app/post_model_form.css' %}">
<br><br>
<hr class="my-1">
<br>
<div class="container post-complete">
  <form class="form-group" method="post">
    {% csrf_token %}
    <div class="row">
      <div class="col-md-9">
        <p><span class="">Title: </span></p>
        <span class="post-title">{{ form.title_original }}</span><br><br>
      </div>
      <div class="col-md-3">
        <div class="profile">
            <a href="{% url 'users:view-profile' pk=user.pk %}"><img class="profile-pic" src="{{ profile_pic.url }}" alt="No pic found">
            {{ user.get_username }}</a>
        </div>
      </div>
    </div>
      <p><span class="postarea">Post: </span></p>
      <p><span class="postarea">{{ form.body_original }}</span></p>
      <input type="submit" class="btn btn-primary" value="Create">
    </form>
  </div>
</div>
{% endblock %}
