{% extends 'system_app/base.html' %}
{% block base_body_block %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'blogs_app/post_model_list.css' %}">
<br><br>
<div class="container">
    <div class="search-bar">
        <form class="form-group" action="{% url 'blogs:search-results' %}" method="POST">
            {% csrf_token %}
            <input type="text" name="search-query" class="find-post" placeholder="search">
            <input type="submit" class="search-button btn btn-info" value="Search">
        </form>
    </div>
  <div class="filter-posts">
    Filter:
    {% if following %}
      <select class="edit-post" onchange="location = this.value;">
        <option value="{% url 'blogs:all-following-post' %}">People I follow</option>
        <option value="{% url 'blogs:all-post' %}">All posts</option>
      </select>
    {% else %}
      <select class="edit-post" onchange="location = this.value;">
        <option value="{% url 'blogs:all-post' %}">All posts</option>
        <option value="{% url 'blogs:all-following-post' %}">People I follow</option>
      </select>
    {% endif %}
  </div><br>
  {% for post in post_model_list %}
    <div class="post-complete">
      <br>
      <div class="row ">
          <div class="col-md-8">
              <span class="post-title"><a class="black-href" href="{% url 'blogs:post' pk=post.pk %}">{{ post.title_original }}</a></span>
              <br>
              <small>{{ post.created_on }}</small>
          </div>
          <div class="col-md-4">
              <span class="author-name">
                  <a class="black-href" href="{% url 'users:view-profile' pk=post.author.pk %}">
                      <small>
                          {{ post.author|title }}
                      </small>
                      <img class="profile-pic" src="{{ post.author.profile_pic.url }}" alt="no image found">
                  </a>
              </span>
          </div>
          </div><br>
          <p><span class="postarea">{{ post.body_original|truncatechars:700|linebreaks }}</span>
          {% if post.body_original|length|get_digit:"-1" > 600 %}
            <small><a href="{% url 'blogs:post' pk=post.pk %}">see complete post</a></small>
          {% endif %}
          </p>
    </div><br>
  {% endfor %}
  {% if is_paginated %}
    <nav>
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">Previous</a>
                </li>
            {% endif %}
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                </li>
            {% endif %}
        </ul>
    </nav>
  {% endif %}
  <br><br>
</div>
{% endblock %}
