#nav-link {
  font-size: 1em;
  color: black;
}
#center-nav-link {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Fredoka One', cursive;
  font-size: 2em;
}
.fixed-top {
    background-color: white;
}
.nav-container {
    width: 70%;
    margin: auto;
}
.letslogo {
  height: 35px;
  margin: 10px;
}
html, body {
   height: 100%;
   margin: 0px;
}
.wrapper {
  box-sizing: border-box;
  position: relative;
  padding-bottom: 1em; /* Height of footer */
  min-height: 100%;
}
footer {
  margin: auto;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #fff;
  /* background-color: #b3daff; */
  height: 70px;
  text-align: center;
  border-top: 1px solid #bfbfbf;
}
.black-href {
  color: black;
}
