{% extends 'system_app/base.html' %}
{% block base_body_block %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'system_app/login.css' %}">
<div class="container">
{% if user.is_authenticated %}
<br><br>
<hr class="my-1">
<br>
  <h4>Kindly logout before logging in again.</h4>
  <p><a href="{% url 'system:logout' %}">Logout now</a></p>
{% else %}
<div class="row">
  <img class="letslogo" src="{% static 'system_app/letsblog.JPG' %}" alt="Let's Blog">
</div>
  <hr class="my-4">
  <br>
    <div class="row">
      <div class="col-md-7">
        <img class="img-fluid" src="{% static 'system_app/login.png' %}" alt="stock-iphone">
      </div>
      <div class="col-md-4">

        <form class="login-form form-group" action="" method="post">
          {% csrf_token %}
          <legend><small>Username and password</small></legend>
          <p><input type="text" name="username" placeholder="enter username"></p>
          <p><input type="password" name="password" placeholder="enter password"></p>
          <input class="btn btn-primary" type="submit" name="submit" value="Login">&nbsp&nbsp <strong>or</strong>&nbsp&nbsp
          <a class="" href="{% url 'social:begin' 'google-oauth2' %}">
            <img src="{% static 'system_app/google.png' %}" width="25" alt="google"></a>
          <br>
        </form>
        <hr>

      <small>Don't have an account? No worries!</small><br>
      <small><a href="{% url 'users:create-profile' %}">Create now in under a minute.</a></small>
      </div>
    </div>
  </div>
{% endif %}
<br><br>
{% endblock %}
