{% extends 'system_app/base.html' %}
{% block base_body_block %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'system_app/login.css' %}">
<div class="container ">
{% if user.is_authenticated %}
<br><br>
<hr class="my-1">
<br>
  <h4>Kindly logout before logging in again.</h4>
  <p><a href="{% url 'system:logout' %}">Logout now</a></p>
{% else %}
<div class="row">
  <img class="letslogo" src="{% static 'system_app/letsblog.JPG' %}" alt="Let's Blog">
</div>
  <hr class="my-4">
  <br>
    <div class="row">
      <div class="col-md-7">
        <img class="img-fluid" src="{% static 'system_app/login.png' %}" alt="stock-iphone">
      </div>
      <div class="mt-5 col-md-4">
        {% if data == 'incorrect' %}
          <p>User not found, or incorrect credentials entered. <a href="{% url 'system:login' %}">Try again?</a></p>
        {% elif data == 'inactive' %}
          <p>This user is not activated. <a href="{% url 'system:login' %}">Try with another account?</a></p>
        {% endif %}
      </div>
    </div>
  </div>
{% endif %}
<br><br>
{% endblock %}
